body{
    background-color: #27282C;
}


div.titletxt{
    display: flex;
    width: 100%;
    height: 10.15%;
    justify-content: center;
    align-items: center;
}

.maintxt{
    text-align: center;
    color: #FFFFFF;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    line-height: 20px;
}

div.logos{
    width: 100%;
    height: 48px;
}

.detective{
    float: left;
    padding-left: 25%;
    width:48px;
    height:48px;
}

.smegsy{
    float: left;
    padding-left: 44%;
    width:48px;
    height:48px;
}

.links{
    width: 100%;
    background-color: #25262a;
    height: 48px;
    display: flex;
    align-items: center;
}

.home{
    float: left;
    font-family: Helvetica, sans-serif;
    padding-left: 25%;
    text-decoration: none;
    color: #FFFFFF;
}

.catalog{
    float: right;
    font-family: Helvetica, sans-serif;
    padding-left: 20%;
    text-decoration: none;
    color: #FFFFFF;
}

.about{
    float: right;
    font-family: Helvetica, sans-serif;
    padding-left: 20%;
    text-decoration: none;
    color: #FFFFFF;
}


.whyus{
     height: 100%;
     width: 100%;
     object-fit: contain;
    
}

.Stoplookinghere{
    display: inline-block;
    width: 400px;
    float: left;
}

.whyustxt{
    display: inline-block;
    width: 200px;
    padding-left: 25%;
}

.theone{
    overflow: hidden;
}

h1{
    font-family: Helvetica, sans-serif;
    color: #FFFFFF;
}

@media only screen and (max-width: 600px) {
    div.titletxt{
        height: 150px;
        white-space: normal;
        width: 600px;
    }

    .maintxt{
        font-size: 75px;
        padding-left: 45px;
    }
    .detective{
        height: 100px;
        width: 100px;
        padding-left: 140px;
    }

    .smegsy{
        height: 100px;
        width: 100px;
        padding-left:  0px;
    }

    .links{
        height: 125px;
    }

    .home{
        font-size: 50px;
        padding-left: 125px;
    }
    .catalog{
        font-size: 50px;
    }

    .about{
        font-size: 50px;
    }

    div.logos{
        height: 100px;
    }
  }