body{
    background-color: #27282C;
}


div.titletxt{
    display: flex;
    width: 100%;
    height: 10.15%;
    justify-content: center;
    align-items: center;
}

.maintxt{
    text-align: center;
    color: #FFFFFF;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    line-height: 20px;
}

div.logos{
    width: 100%;
    height: 48px;
}

.detective{
    float: left;
    padding-left: 25%;
    width:48px;
    height:48px;
}

.smegsy{
    float: left;
    padding-left: 44%;
    width:48px;
    height:48px;
}

.links{
    width: 100%;
    background-color: #25262a;
    height: 48px;
    display: flex;
    align-items: center;
}

.home{
    float: left;
    font-family: Helvetica, sans-serif;
    padding-left: 25%;
    text-decoration: none;
    color: #FFFFFF;
}

.catalog{
    float: right;
    font-family: Helvetica, sans-serif;
    padding-left: 20%;
    text-decoration: none;
    color: #FFFFFF;
}

.about{
    float: right;
    font-family: Helvetica, sans-serif;
    padding-left: 20%;
    text-decoration: none;
    color: #FFFFFF;
}


.whyus{
     height: 100%;
     width: 100%;
     object-fit: contain;
    
}

.Stoplookinghere{
    display: inline-block;
    width: 400px;
    float: left;
}

.whyustxt{
    display: inline-block;
    width: 200px;
    padding-left: 25%;
}

.theone{
    overflow: hidden;
}

h1{
    font-family: Helvetica, sans-serif;
    color: #FFFFFF;
}

.error{
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 590px;
    bottom: 0px;
    top: 180px;
}

.Errortxt{
    margin-top: 0px;
}
.umwht{
    height: 50px;
    width: 70px;
    object-fit: contain;
    padding-left: 20px;
}

.other{
    height: 50px;
    width: 30px;
}
.again{
    display: inline-block;
    width: fit-content;
    height: fit-content;
}

.Popup1 img:hover{
    transform: scale(1.1); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.Popup1{
    width: 160px;
    height: 90px;
}

.Flash{
    height: 90px;
    width: 160px;
}

.fullPopup1{
    width: fit-content;
    height: fit-content;
}
@media only screen and (max-width: 600px) {
    div.titletxt{
        height: 150px;
        white-space: normal;
        width: 100%;
    }

    .maintxt{
        font-size: 65px;
        padding-left: 15px;
    }
    .detective{
        height: 100px;
        width: 100px;
        padding-left: 27px;
    }

    .smegsy{
        height: 100px;
        width: 100px;
        padding-left: 160px;
    }

    .links{
        width: 100%;
        height: 70px;
    }

    .home{
        font-size: 35px;
        padding-left: 30px;
    }
    .catalog{
        font-size: 35px;
        padding-left: 20px;
    }

    .about{
        font-size: 35px;
        padding-left: 20px;
    }

    div.logos{
        height: 100px;
        width: 100%;
    }

    .firstboi{
        margin-top: 0px;
    }

    .moretxt{
        padding-left: 20px;
    }

    .whyustxt{
        padding-left: 130px;
    }
  }